.rbc-calendar {
  font-family: "Roboto", sans-serif;
}

.rbc-event {
  background-color: #5d87ff !important;
  color: #fff !important;
  border-radius: 4px;
  padding: 2px 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.rbc-event:hover {
  transform: scale(1.01);
}

.rbc-toolbar button {
  background-color: #f5f5f5;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.rbc-toolbar button:hover {
  background-color: #e0e0e0;
}

.event-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon {
  color: red;
  cursor: pointer;
  margin-left: 8px;
  transition: transform 0.2s;
}

.delete-icon:hover {
  transform: scale(1.2);
}
